article > h2 {
  position: absolute;
}

.article-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0008;
}

p, video {
  position: absolute;
  width: 46%;
  margin: 2%;

  top:50%;
  transform: translateY(-50%);

}

video, .no-video {
  margin-right: 2%;
  right: 0;
}

.info, .no-video {
  margin: 1%;
  padding: 20px 1%;
}

.no-video {
  text-align: center;
}

.dark-bg {
  background-color: #000a;
}

.video-project {
  max-height: 70vh;
}
