.size300 {
  height: 300%;
}

.size200 {
  height: 200%;
}

body {
  position: absolute;
  top: 0;
  height: auto;
  width: 100%;
}

/* Parti navigation*/
nav {
  position: fixed;
  top:0;
  z-index: 1;
  margin-left: -360px;
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;

  color: white;
  background-color: #404040;

  transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 0.5s;
}

nav:hover {
  transform: translate(360px, 0);  
}

nav:hover .nav_name {
  opacity: 0%;
}

#nav_links {
  display: flex;
  flex-direction: column;
}

nav > *, #nav_links > a {
  margin-right: 50px;
  text-align: right; 
}

nav > h1 {
  color: #aaffaa;
}

#nav_links > a {
  margin-top: 6px;
  padding: 8px 20px;

  background-color: #202020;
  border-radius: 4px;
  text-decoration: none;

  transform: translate(-20px, 0);

  transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 0.5s;
}

#nav_links > a:hover {
  transform: translate(0px, 0);
  background-color: #aaffaa;
  color: black;

}

.back {
  position: absolute;
  top: 14px;
  left: 20px;
  transform: translate(0px, 0);
}

.nav_name {
  position: absolute;
  top: 10px;
  right: 0;
  margin-right: 0px;
  width: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;

  font-size: 24px;
  font-weight: bold;

  transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 0.5s;
}

.nav_name span {
  margin: -2px;
}

/* Contenu principal */
section {
  height: auto;

  /* display: flex;
  flex-direction: column; */

  margin-left: 40px;
}

article {
  position: relative;
  height: 100vh;

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: black;

  align-content: center;
}

video {
  position: relative;
  float: right;
}

article h2, h3, h4, h5, h6 {
  width: 100%;
  text-align: center;
}

article h2 { font-size: 60px; }
article h3 { font-size: 40px; }
article h4 { font-size: 32px; }

p, li, td, th {
  text-align: justify;
  font-size: 20px;
}

/*Presentation de la page*/

.description {
  border-style: none; 
}

.description > h1 {
  margin: 0 0 40px 200px;
  padding-top: 100px;

  font-size: 100px;
}

.description > div {
  margin:0;
  margin-left: 60px;
  width: 60%;

  font-size: 40px;
}