@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.black_gradient {
  background: rgba(16,16,16,1);
  background: -moz-linear-gradient(top, rgba(16,16,16,1) 0%, rgba(32,32,32,1) 60%, rgba(96,96,96,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(16,16,16,1)), color-stop(60%, rgba(32,32,32,1)), color-stop(100%, rgba(96,96,96,1)));
  background: -webkit-linear-gradient(top, rgba(16,16,16,1) 0%, rgba(32,32,32,1) 60%, rgba(96,96,96,1) 100%);
  background: -o-linear-gradient(top, rgba(16,16,16,1) 0%, rgba(32,32,32,1) 60%, rgba(96,96,96,1) 100%);
  background: -ms-linear-gradient(top, rgba(16,16,16,1) 0%, rgba(32,32,32,1) 60%, rgba(96,96,96,1) 100%);
  background: linear-gradient(to bottom, rgba(16,16,16,1) 0%, rgba(32,32,32,1) 60%, rgba(96,96,96,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#101010', endColorstr='#606060', GradientType=0 );

  height: 100%;
}




